[submodule "numpy-benchmarks"]
	path = numpy-benchmarks
	url = https://github.com/serge-sans-paille/numpy-benchmarks
	branch = master
[submodule "BlackScholes_bench"]
	path = BlackScholes_bench
	url = https://github.com/IntelPython/BlackScholes_bench
[submodule "blas-benchmarks"]
	path = blas-benchmarks
	url = git@github.com:ContinuumIO/benchmark-suite
[submodule "mkl-optimizations-benchmarks"]
	path = mkl-optimizations-benchmarks
	url = https://github.com/ContinuumIO/mkl-optimizations-benchmarks
